.seat-item-container2 {
  display: flex;
  flex-wrap: wrap; /* wrap 설정으로 한 줄이 꽉 차면 다음 줄로 넘어갑니다. */
  //   margin: -10px; /* 각각의 박스 사이의 간격 조절 */
  justify-content: center;
  width: 300px;
}
.section-number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.seat-section-wrapper2 {
  margin: 10px; /* 간격 조절 */
}
.select-seat-total-area {
    max-height: 280px;
    overflow-y: auto; 
}
.selected-seat {
  width: 120px;
  text-align: center;
  background-color: #80c0c0;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  // display: inline-block;
}

.select-seat-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.click-buy-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #80c0c0;
  border: 1px solid #80c0c0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  float: right; /* 오른쪽으로 배치 */
  margin-top: 10px; /* 위쪽 여백 추가 */
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.click-buy-button:hover {
  background-color: #609090;
  color: white;
  border-color: #609090;
}

.click-buy-button:active {
  transform: translateY(2px);
}

.total-price {
  text-align: right; /* 오른쪽 정렬 */
  border-top: 1px solid #000; /* 검정색 윗 테두리 */
  padding-top: 10px; /* 위쪽 패딩 추가 */
}
